<form [formGroup]="registerForm" class="needs-validation" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <!-- gender -->
  <div class="form-group">
    <label class="col-form-label" style="margin-right:10px">I am a: </label>
    <label class="form-check-label form-check-inline">
      <input type="radio" value="male" formControlName="gender" class="form-check-input form-check-inline">Male
    </label>
    <label class="form-check-label form-check-inline">
      <input type="radio" value="female" formControlName="gender" class="form-check-input form-check-inline">Female
    </label>
  </div>

  <!-- username -->
  <div class="form-group">
    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
      placeholder="Username" formControlName="username">
    <span class="invalid-feedback" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
      Username is required
    </span>
  </div>

  <!-- known as -->
  <div class="form-group">
    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')}"
      placeholder="Known as" formControlName="knownAs">
    <span class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">
      Known as is required
    </span>
  </div>

  <!-- date of birth -->
  <div class="form-group">
    <input class="form-control" type="text" bsDatepicker [bsConfig]="bsConfig" [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}"
      placeholder="Date of Birth" formControlName="dateOfBirth">
    <span class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">
      Date of birth is required
    </span>
  </div>

  <!-- city -->
  <div class="form-group">
    <input class="form-control" [ngClass]="{'is-invalid': registerForm.get('city').touched && registerForm.get('city').hasError('required')}"
      placeholder="City" formControlName="city">
    <span class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">
      City is required
    </span>
  </div>

  <!-- country -->
  <div class="form-group">
    <input class="form-control" [ngClass]="{'is-invalid': registerForm.get('country').touched && registerForm.get('country').hasError('required')}"
      placeholder="Country" formControlName="country">
    <span class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">
      Country is required
    </span>
  </div>

  <!-- password -->
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      placeholder="Password" formControlName="password">
    <span class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password is required
    </span>
    <span class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      Password must be at least 4 characters
    </span>
    <span class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
      Password cannot exceed 8 characters
    </span>
  </div>

  <!-- confirm password -->
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"
      placeholder="Confirm Password" formControlName="confirmPassword">
    <span class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
      Confirm password is required
    </span>
    <span class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')">
      Confirm password must match password
    </span>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
